.red {
    background-color: red;
    padding: 10px 10px 10px 10px;
    border: solid black;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.gray {
    background-color: gray;
    padding: 10px 10px 10px 10px;
    border: solid black;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.green {
    background-color: green;
    padding: 10px 10px 10px 10px;
    border: solid black;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.green button {
    background-color: green;
    border-style: unset;
}

.red button {
    background-color: red;
    border-style: unset;
}

.gray button {
    background-color: gray;
    border-style: unset;
}